*{ 
    margin : 0px;
    padding: 0px;
}
html, body {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* theme */

:root {
    --bg-color : white;
    --light-bg-color : rgb(242, 242, 242);
    --dark-bg-color : #bcbcbc;
    --text-color : black;
    --border-color : black;
    --soft-light-color : #ebebeb;
    --light-text-color : rgb(100, 100, 100);
}

.dark {
    --bg-color : #212121;
    --light-bg-color : #333333;
    --dark-bg-color : #0e0e0e;
    --text-color : white;
    --border-color : white;
    --soft-light-color : #4e4e4e;
    --light-text-color : rgb(109, 109, 109);
}

/* popup */

.popup-holder {
    width: 100%;
    height: 100dvh;
    position: fixed;
    background-color: var(--dark-bg-color);
    display: none;
    box-sizing: border-box;
}

.popup-header {
    font-size: 22px;
    padding: 5vw;
    margin-bottom: 20px;
}

.ascii-holder {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    margin-bottom: 30px; 
}

.ascii-holder img {
    max-width: 100%;
    max-height: 400px;
}

/* header */

header {
    padding: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
header h1 {
    font-size: 25px;
    font-family: monospace;
    font-weight: 800;
}

/* action btns */
.header-action-btns {
    display: flex;
    align-items: center;
}
.header-action-btns svg{
    margin-left: 20px;
}

/* navbar */

nav {
    position: fixed;
    width: 70%;
    box-sizing: border-box;
    background-color: var(--light-bg-color);
    height: 100dvh;
    z-index: 1;
    top: 0px;
    left: 0;
    padding-top: 20px;
    padding-left: 10px;
    box-shadow: 5px 0 10px var(--dark-bg-color);
    display: none;
}
nav .nav-element {
    padding: 10px;
}
nav .nav-element a{
    text-decoration: none;
    color: var(--text-color);
    transition: 0.1s;
    -webkit-tap-highlight-color: transparent;
}
nav .nav-element a:hover,  nav .nav-element a:hover{
    font-weight: 500;
    user-select: none;
}


/* message */

#message {
    width: 100%;
    padding: 5vw;
    box-sizing: border-box;
    font-family: monospace;
}

/* image upload button */

.image-upload-btn-holder {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin-bottom: 5vw;
}

.image-upload-btn-holder #imageUploadBtn {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: transparent;
    border: 1px dashed var(--border-color);
    color: var(--text-color);
}
.image-upload-btn-holder #imageUploadBtn p {
    margin-left: 10px;
}

/* image holder */

.image-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-holder img {
    height: 200px;
    max-width: 100%;
    border: 1px solid var(--soft-light-color);
}

/* action buttons */

.action-btns {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    
}
.action-btns div {
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--soft-light-color);
    margin-right: 10px;
    margin-bottom: 10px;
}
.action-btns div svg {
    margin-right: 5px;
}

/* footer */

footer {
    position: static;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--bg-color);
    margin-top: auto;
}

footer p{
    font-size: 12px;
    color: var(--light-text-color);
}
footer p a {
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
}
footer p a:visited{
    color: var(--text-color);
}